.navbar {
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 13px;
      letter-spacing: 2.5px;
      background-color: #ffffff;
      z-index: 1;
      position: relative;
  }
  .navbar-brand img
  {
          margin-top: -30px;
  }
  .navbar-nav  li a:hover {
      color: #06b8ff !important;
  }

    .navbar-nav  li a
{
  color: white;
}
  .bg-1 { 
      background-color: #f6f6f6; /* Green */
      color: #06b8ff;

  }
  .bg-2 { 
      background-color: #06b8ff; /* Dark Blue */
      color: #ffffff;

  }
  .bg-3 { 
      background-color: #06B8FF; /* White */
      color: #ffffff;

  }
  .bg-4 { 
      background-color: #2f2f2f; /* Black Gray */
      color: #fff;
  }
  .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
  }
  #sign
  {
    margin-top: 10px;
    height: 30px; 
  }

    #login
  {
    margin-top: 10px;
    height: 30px; 
    color: #06b8ff;'

  }

  #video
  {
    position: relative;
    opacity: .8;
    width: 100%;
    max-height: 550px;
    overflow: hidden;

  }

            .video-section {
                position: relative;
                width: 100%;
                max-height: 550px;
                overflow: hidden;

            }
            #video-elem {
                width: 100%;
            }
            video::-webkit-media-controls {
                display:none !important;
            }
            .video-overlay {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background-color: rgba(6, 184, 255, 0.8);
                opacity: .0;
                transition: opacity 0.3s ease;
            }
            .video-overlay:hover {
                opacity: .8;
            }
            .video-overlay h1 {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translateX(-50%) translateY(-50%);
                text-transform: uppercase;
                font-size: 3em;
                color: #fff;
                text-align: center;
              }

      .cssimage
      {
        height: 200px;
        margin-top: 50px
      }
      .htmlimage
      {
        height: 200px;
          margin-top: 50px;
          margin-right: 50px;

      }
.thumbnail
{
      background-color: #06B8FF; /* White */
      color: #ffffff;

}
.p1
{
  color: white;
    font-size: 150%;
    text-decoration: none;
}
.p1:hover
{
  text-decoration: underline;

}

.p2
{
  height: 500px;
}
#h1
{
  font-size: 400%;
}
#h2
{
  font-size: 400%;
}
#h3
{
  font-size: 200%;
  -webkit-text-stroke-width: .2px;
  -webkit-text-stroke-color: black;
}
